<div class="p-4">
    <!-- Hot Beverages Content -->
    <h1 class="text-2xl font-bold mb-4 flex items-center">
      <span routerLink="/home" class="cursor-pointer -mt-1.5" style="font-size: 40px;">&#8592;</span>
      <span class="ml-2">Hot Beverages</span>
    </h1>
    <h1 class="text-xl mb-4">
      Enjoy our selection of comforting hot drinks, perfect for warming up on any day.
    </h1>
    <div class="border-t border-gray-300 pt-4">

    </div>

    <div class="mt-3 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4">
      <div
        *ngFor="let beverage of hotBeverageList"
        class="p-4 border border-gray-300 rounded-lg shadow-md relative"
      >
        
        <h2 class="mt-2 font-bold">{{ beverage.name }}</h2>
        <p class="mt-2">{{ beverage.description }}</p>
        <h3 class="mt-2 font-bold">Rs {{ beverage.price }}</h3>
      </div>
    </div>
</div>
