<div class="p-4">
  <!-- Tabs -->
  <div class="flex flex-col border-b border-gray-300 mb-4">
    
    <!-- Tabs Navigation -->
    <div class="mb-4 flex">
      <button 
        (click)="selectTab('shakes')" 
        [ngClass]="{
          'text-white bg-blue-500': selectedTab === 'shakes',
          'text-blue-500 bg-white': selectedTab !== 'shakes'
        }"
        class="py-2 px-4 font-semibold flex-1 border border-gray-300"
      >
        Shakes
      </button>
      <button 
        (click)="selectTab('ice-base')" 
        [ngClass]="{
          'text-white bg-blue-500': selectedTab === 'ice-base',
          'text-blue-500 bg-white': selectedTab !== 'ice-base'
        }"
        class="py-2 px-4 font-semibold flex-1 border border-gray-300"
      >
        Ice Base
      </button>
      <button 
        (click)="selectTab('soda-base')" 
        [ngClass]="{
          'text-white bg-blue-500': selectedTab === 'soda-base',
          'text-blue-500 bg-white': selectedTab !== 'soda-base'
        }"
        class="py-2 px-4 font-semibold flex-1 border border-gray-300"
      >
        Soda Base
      </button>
    </div>
  </div>
  

 
  <!-- Tab Content -->
  <div>
    <div *ngIf="selectedTab === 'shakes'">
      <h1 class="text-2xl font-bold mb-4">Shakes</h1>
      <h1 class="text-xl mb-4">Indulge in our creamy shakes, blended to perfection for a refreshing treat.</h1>
      <div class="mt-3 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4">
        <div
          *ngFor="let shake of shakes"
          class="p-4 border border-gray-300 rounded-lg shadow-md relative"
        >
          <!-- Dot indicator -->
          <div class="ml-1.5" [ngClass]="{
            'absolute top-2 left-2 w-3 h-3 rounded-full': true,
            'bg-green-500': shake.type === 'Veg',
            'bg-red-500': shake.type === 'Non-Veg'
          }"></div>
          <h2 class="font-bold mt-2">{{ shake.name }}</h2>
          <p class="mt-2">{{ shake.description }}</p>
          <h3 class="mt-2 font-bold">Rs {{ shake.price }}</h3>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 'ice-base'">
      <!-- Ice Base Tab Content -->
      <h1 class="text-2xl font-bold mb-4">Ice Base</h1>
      <h1 class="text-xl mb-4">Cool down with our ice-based delights, packed with flavors to chill your senses.</h1>
      <div class="mt-3 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4">
        <div
          *ngFor="let iceBase of iceBases"
          class="p-4 border border-gray-300 rounded-lg shadow-md relative"
        >
          <!-- Dot indicator -->
          <div class="ml-1.5" [ngClass]="{
            'absolute top-2 left-2 w-3 h-3 rounded-full': true,
            'bg-green-500': iceBase.type === 'Veg',
            'bg-red-500': iceBase.type === 'Non-Veg'
          }"></div>
          <h2 class="font-bold mt-2">{{ iceBase.name }}</h2>
          <p class="mt-2">{{ iceBase.description }}</p>
          <h3 class="mt-2 font-bold">Rs {{ iceBase.price }}</h3>
        </div>
      </div>
      <!-- Your Ice Base content here -->
    </div>

    <div *ngIf="selectedTab === 'soda-base'">
      <!-- Soda Base Tab Content -->
      <h1 class="text-2xl font-bold mb-4">Soda Base</h1>
      <h1 class="text-xl mb-4">Quench your thirst with our fizzy soda creations, bursting with bold and zesty flavors.</h1>
      <div class="mt-3 grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4">
        <div
          *ngFor="let sodaBase of sodaBases"
          class="p-4 border border-gray-300 rounded-lg shadow-md relative"
        >
          <!-- Dot indicator -->
          <div class="ml-1.5" [ngClass]="{
            'absolute top-2 left-2 w-3 h-3 rounded-full': true,
            'bg-green-500': sodaBase.type === 'Veg',
            'bg-red-500': sodaBase.type === 'Non-Veg'
          }"></div>
          <h2 class="font-bold mt-2">{{ sodaBase.name }}</h2>
          <p class="mt-2">{{ sodaBase.description }}</p>
          <h3 class="mt-2 font-bold">Rs {{ sodaBase.price }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
