<div class="h-screen flex flex-col items-center justify-center" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(248, 235, 220, 0.7), rgba(249, 239, 218, 0.5));">
  <!-- Pizza Spinner -->
  <div class="relative animate-jump mb-2 -mt-20">
    <img 
      src="assets/RTAEKxkkc.gif"
      alt="Pizza" 
      class="h-32 w-32"
    />
  </div>

  <!-- Text -->
  <div class="mt-0 sm:mt-2 text-center px-4">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-zinc-500 ">
      Welcome to Nature's Hut Cafe
    </h1>
  </div>
</div>
