
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom toast position center */
.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
