<div class="p-4">
  <h1 class="text-2xl font-semibold">What's on your mind?</h1>
  <div class="mt-6 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    
    <div routerLink="/food" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/images/Tandoori-Platter-scaled-1.jpg" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Starters</div>
    </div>

    <div routerLink="/pizzas" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/596343.jpg" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Pizza</div>
    </div>

    <div routerLink="/desserts" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/images/unnamed.jpg" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Desserts</div>
    </div>

    <div routerLink="/shakes" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/images/wp7289347.jpg" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Cold Beverages</div>
    </div>
    
    <div routerLink="/rolls" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/images/Peppy-Chicken-Roll_1.jpg" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Rolls</div>
    </div>

    <div routerLink="/coffe" class="bg-white border border-gray-200 rounded-lg shadow-md p-4 text-center cursor-pointer">
      <img src="assets/images/239445-coffee-coffee_beans-cup.jpg.crdownload" class="w-full h-48 object-cover rounded-lg">
      <div class="mt-4 font-bold">Hot Beverages</div>
    </div>
  </div>
</div>
